<div id="jugglejob_bg">
	<div class="welcome_skinny">
		<h1>JuggleJob.</h1>
		<p>The customer relations and project management tool designed just for tradesmen.<br><br>Looking after your own couldn’t be easier.</p>
	
		<a href ="#" class="button button_white">Coming Soon</a>
	</div>
</div>