<div id="landing-wrapper">
	
	<div class="center" id="main-logo">
		Jugglejob<small>.com</small>
	</div>
	<div class="center" id="welcome-heading">
		Connecting trades & customers
	</div>
	<div class="center sub-heading" id="upper-sub-heading">
		Looking after your own couldn’t be easier.
	</div>
	<div class="" id="white-banner">
		<div class="row" id="builder-image-row">
			<div class="col-md-12" id="builder-image"><%= image_tag("builders.png", :alt => "builders")%></div>
		</div>
	</div>
	<div class="center sub-heading" id="lower-sub-heading">
		Track your project from enquiry to completion.
	</div>
	<div class="row" id="circle-stats">
		<div class="col-sm-1"></div>
		<div class="center col-sm-2 reduced-padding">
			<div class="landing-circle-header">
				Enquiry
			</div> 
			<div class="landing-stat-circle">
				<i class="icon-note icon" title="Job at enquiry stage"></i>
			</div>
			<div class="landing-circle-text">
				Submit an enquiry to your prefered tradesmen. Let them know what you want.
			</div> 
		</div>
		<div class="center col-sm-2 reduced-padding">
			<div class="landing-circle-header">
				Quoting
			</div> 
			<div class="landing-stat-circle">
				<i class="icon-calculator icon" title="A quote is being compiled"></i>
			</div>
			<div class="landing-circle-text">
				Get updated during the quoting process and access your final quote.
			</div> 
		</div>
		<div class="center col-sm-2 reduced-padding">
			<div class="landing-circle-header">
				Booking
			</div> 
			<div class="landing-stat-circle">
				<i class="icon-calendar icon" title="Quote has been accepted and a date for work has been booked"></i>
			</div>
			<div class="landing-circle-text">
				Get a confirmed start date, and be notified if anything changes.
			</div> 
		</div>
		<div class="center col-sm-2 reduced-padding">
			<div class="landing-circle-header">
				Start
			</div> 
			<div class="landing-stat-circle">
				<i class="icon-rocket icon" title="Job is currently active and work is underway"></i>
			</div>
			<div class="landing-circle-text">
				Keep track of changes, invoices, updates, and more.
			</div> 
		</div>
		<div class="center col-sm-2 reduced-padding">
			<div class="landing-circle-header">
				Complete
			</div> 
			<div class="landing-stat-circle">
				<i class="icon-check icon" title="Work has been completed"></i>
			</div>
			<div class="landing-circle-text">
				Leave feedback, <br>Recieve a final invoice. <br>Sign the job off.
			</div> 
		</div>
		<div class="col-sm-1"></div>
	</div>

	<div id="large-white-banner">
		<div class="row shots-row">
			<div class="center col-sm-12"><%= image_tag("overlap-shots.png", :alt => "builders")%></div>
		</div>
		<div class="center sub-heading" id="features-sub-heading">
			Key features.
		</div>
		<div id="features-list">
			<ul>
				<li>Invite trades you employ to use Jugglejob to enjoy the full benefits.</li>
				<li>Make enquires to any registered trade, Jugglejob will guide you through the process.</li>
				<li>Recieve updates from your contractor through email alerts and through your own personal job dashboard.</li>
				<li>Keep track of balances and job durations, start dates, extras, and more.</li>
				<li>Rate your trade, and keep them stored as a prefered contractor for next time.</li>
			</ul>
		</div>

	</div>

	<div class="center sub-heading" id="coming-soon-sub-heading">
		Coming Soon!
	</div>
	<div class="center" id="copyright"><i class="fa fa-copyright"></i> 2016-2017</div>

</div>