<div id="final-wrapper">

	<div class="red" id="main-title">
		Happy Valentines Day
	</div>

	<div id="finish-img">
		<%= image_tag("final-monsty.png", :alt => "finished-monsty") %>
	</div> 

	<div id="main-title">
		Take a look in Monsty's old wardrobe!
	</div>

</div>