// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainbg: #F3F4EF;
$secondary: #696868;
$main: #E94D4D;

.center {
	text-align: center;
}

#landing-wrapper {
	height: 100%;
	width: 100%;
	background: $mainbg;
	font-family: din-condensed, sans-serif;
}

#main-logo {
	color: $secondary;
	font-size: 3.5em;
	font-family: HouseScript, "SignPainter"; 
	padding: 50px;
}

#welcome-heading {
	
	font-weight: 600;
	color: $main;
	font-size: 2.8em;
}

.sub-heading {
	padding: 10px;
	font-weight: 600;
	color: $secondary;
	font-size: 1.3em;
}
#lower-sub-heading {
	color: $main;
	padding: 40px;
}
#white-banner {
	background: white;
	height: 160px;
	margin-top: 100px;
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.50);
}
#builder-image-row {
	width: 100%;
}
#builder-image {
	text-align: center;
	margin-top: -35px;
}

#circle-stats {
	max-width: 900px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 20px;
	.landing-circle-header {
		color: $secondary;
		padding: 10px 0;
		font-size: 1.5em;
	}
	.landing-circle-text {
		color: $secondary;
		padding: 10px 0;
	}
	.reduced-padding{
		padding: 2px;
	}
	.landing-stat-circle {
		margin: 0 auto;
		height: 100px;
		width: 100px;
		background: #D8D8D8;
		border-radius: 50%;
		padding-top: 32px;
		.icon {
			color: white;
			font-size: 3em
		}
	}
}

#large-white-banner {
	background: white;
	padding: 40px 10%;
}
#features-sub-heading {
	margin-top: 10px;
}
#features-list {
	text-align: center;
}
#coming-soon-sub-heading {
	padding: 20px;
	color: $main;
}
#copyright {
	color: $secondary;
	padding-bottom: 10px;
}

